@import "../variables";
@import '../../../node_modules/antd/lib/style/color/colors.less';

.agenda-main{
  position: relative;
  
  .icon-add{
    position: absolute;
    right: 30px;
    top: 20px;
    font-size: 42px;
    color: #003366;
    transition-duration: .5s;     

    &:hover{
      color: lighten(#003366, 15%);
      transition-duration: .5s;     
    };
  };

  .year{
    padding-top: 20px;

    .event-date{
      .date{
        margin-left: 20px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
  
        p{
          width: 30%;
          min-width: 200px;
          margin: 5px 0;
        };
      };
  
      .event-presentation{
        display: flex;
        padding-top: 30px;
  
        p {
          width: 70%;
          padding: 0 20px;
          text-align: justify
        };
  
        .div-img{
          width: 30%;
          text-align: center;
  
          img{
            width: 40%;
          };
        };
      };
    };
  };

  .create-event{
    width: 40vw;
    padding: 0 2rem;
    
    .first-line-div{
      width: 38vw;
      position: relative;
      .range-picker {
        width: 80%;
      };
  
      .delete-date{
        position: absolute;
        right: 0;
        top: .5rem;
      };
    };

    .address-space{
      width: 100% !important;
      display: flex;
      justify-content: space-between;

      .input{
        width: 18vw;
      };
    };

    .upload-picture{
      position: relative;
      padding-top: 3rem;

      .inputfile {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
      };

      .label{
        padding: 2.5rem 2rem;
        border: 1px rgb(214, 214, 214) dashed;
        background-color: rgb(243, 243, 243);
        border-radius: 5px;
        cursor: pointer;
        position: relative;

        .plus-icon{
          position: absolute;
          top: 1.5rem;
          left: 3rem;
        };
      };
    };
  };
};